body {
    height: 100vh;
    background-image: url(./assets/hiking-abstract.jpg);
    background-position: center;
    background-size: cover;
}

header h1 {
    text-align: center;
}

.container-all {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    background-color: rgba(251, 191, 95, 0.5)
}

#map {
    height: 65vh;
    width: 90%;
}
